<footer class="site-footer" id="main-footer">
  <div class="container footer-grid">
    <div class="footer-widget">
      <h4 class="footer-title">About Us</h4>
      <p><%= site.footerAbout %></p>
    </div>
    <div class="footer-widget">
      <h4 class="footer-title">Quick Links</h4>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/#bookafreeconsulation">Contact</a></li>
        <li><a href="/calendar">Online Booking</a></li>
      </ul>
    </div>
    <div class="footer-widget">
      <h4 class="footer-title">Contact Info</h4>
      <p>
        Phone: <a href="tel:<%= site.phoneTel %>"><em><%= site.phoneDisplay %></em></a><br />
        Fax Number: <a href="tel:<%= site.fax %>"><em><%= site.fax %></em></a><br />
        Email: <a href="mailto:<%= site.email %>"><em><%= site.email %></em></a>
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p id="footer-info">Designed by Voice Awareness | Powered by Voice Awareness</p>
    </div>
  </div>
</footer>
<script src="/js/site.js" defer></script>
